{%- assign src = include.src -%}
{%- assign cap = include.caption | default: "" -%}
{%- assign alt = include.alt | default: cap -%}

{%- assign full_path = "/assets/images/full/" | append: src -%}
{%- assign href = include.href | default: full_path -%}

<figure class="img">
  <a href="{{ href }}" target="_blank" rel="noopener">
    <img
      src="/assets/images/thumb/{{src}}"
      alt="{{ alt | escape }}"
      loading="lazy"
      decoding="async"
    >
  </a>
  {%- if cap -%}<figcaption>{{ cap }}</figcaption>{%- endif -%}
</figure>
