body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

h1#main-title {
    font-size: 1.75em;
}

header, main, footer {
    margin: auto;
    max-width: 800px;
    padding: 0 0.5em;
}

p, ul, ol {
    line-height: 1.6em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 2em 0;
}

figure.img {
    margin: 1em 0;
    text-align: center;
}

figure.img img {
    max-width: 100%;
    height: auto;
}

figure.img figcaption {
    font-size: 0.9em;
    font-style: italic;
    margin: 0.5em 0 1em 0;
}

code {
    font-size: 0.8em;
}

p code {
    background-color: #eee;
    padding: 0.2em 0.4em;
}

pre > code {
    line-height: 1.5em;
    border-radius: 0.5em;
}

ul#toc {
    padding: 0.75em 1.5em;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 0.5em;
    float: right;
    margin: 0 0 3em 3em;
    font-size: 0.9em;
}

@media (max-width: 600px) {
    ul#toc {
        float: none;
        margin: 1em 0;
    }
}

ul#toc li {
    list-style: none;
}