body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

header, main, footer {
    margin: auto;
    max-width: 800px;
    padding: 0 0.5em;
}

p {
    line-height: 1.6em;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1em 0;
}

figure.img {
    margin: 1em 0;
    text-align: center;
}

figure.img img {
    max-width: 100%;
    height: auto;
}